.gingham-border {
    color:rgb(194, 166, 8);
    font-style: italic;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    border: 20px solid;
    border-image: url('https://www.transparenttextures.com/patterns/checkerboard.png') 30 round;
    padding: 40px;
    background-color: #ffffff; /* Cornsilk background */
    box-shadow: 0 4px 8px rgba(18, 22, 82, 0.1);
}