html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f8eee3; /* brown-cream-yellowish */
  display: flex;
}

main {
  flex-grow: 1;
}

footer {
  background-color: #f8eee3;
  padding: 1rem;
  text-align: center;
}

/* Checkerboard background */
/* Using CSS Grid to create a checkerboard pattern */
.checkerboard {
  position: fixed;    
  top: 0;
  left: 0;
  width: 100vw;      
  height: 100vh;      
  z-index: -1;        
  display: grid;
  grid-template-columns: repeat(10, 10vw);  
  grid-template-rows: repeat(10, 10vh);
  opacity: 0.7; /* semi-transparent */
}

/* Checkerboard tiles made to not touch */
.tile {
  width: 60%; 
  height: 60%;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.05);
}

.name-banner{
  background-color: #f8eee3;
  padding: 1rem;
  text-align: center;
  font: serif;
  font-style: italic;
  font-style: bold;
  font-size: 2em;
}

.about-me{
}