.secondary-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-color: #e7dfd4; /* light brown */
}

.secondary-banner::before {
  content: '';
  background: linear-gradient(to right, #6e4d57, #1f1a1d);
  display:block;
  position: absolute;
  top: -9px;
  left: -9px;
  right: -9px;
  bottom:-9px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  z-index: -1;
}

.secondary-banner{
  position: relative;
  display:block;
  padding:1rem;
  margin: 1.7%;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  text-align: center;
  font-size: 1.5rem;
  color:#e7dfd4
}

html, body {
  height: 100%;
  margin: 0;
  font: serif;
  font-size: 16px;
  font-style: italic;
  scroll-behavior: smooth;
}

button {
  font-family: serif;
  font-style: italic;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0.6em 1.2em;
  margin: 0.5rem;
  border-radius: 50px;
  border: none;
  background-color: #6e4d57; /* pastel pink */
  color: #e7dfd4; /* light brown */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #1f1a1d; /* dark brown */
}

button a {
  color: inherit;
  text-decoration: none;
  display: block;
}

.button-wrapper {
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #e7dfd4; /* light brown */
}

section{
  background-color: #e7dfd4;
}

section p {
  text-indent: 2em;
}

main {
  flex-grow: 1;
}

footer {
  background-color: #e7dfd4;
  color: #1f1a1d;
  padding: 1rem;
  text-align: center;
  margin-top: 3rem;
  font-size: 1.3rem;
}


.grid-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Responsive grid */
  gap: 1.5rem;
}

.grid-item {
  padding: 1rem;
  text-align: center;
}

.contact-links {
    display: center;
    gap: 15px;
    font-size: 1.5rem;
}

.contact-links a {
    color: #6e4d57; /* Button color */
    text-decoration: none;
    transition: color 0.3s;
}

.contact-links a:hover {
    color: #1f1a1d; /* Button hover color */
}

.section-header {
  text-align: Right;
  font-family: serif;
  font-style: italic;
  font-weight: bold;
  font-size: 1.5rem;
  padding: relative;
  border-top-left-radius: 50px;
  margin-top: 3rem;
  background: linear-gradient(to right,#1f1a1d, #6e4d57);
  color: #e7dfd4;
}

.body-text {
  display: inline-block;
  padding: 1rem;;
  color: #1f1a1d;
  border-radius: 50px;
  font-family: serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2rem;
  text-align: left;
  font-size: larger;
}

.container {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}

.sidebar {
  position: sticky;
  top: 2rem;
  align-self: flex-start;
  width: 200px;
  padding: 1rem;
  background-color: #6e4d57;
  color: #e7dfd4;
  border-radius: 10px;
}

.sidebar nav ul{
  list-style: none;
  padding: 0;
}

.sidebar nav ul li {
  margin: 0.5rem 0;
}

.sidebar nav ul li a {
  text-decoration: none;
  color: #e7dfd4;
}

.sidebar nav ul li a:hover {
  color: #1f1a1d;
}

.content {
  flex-grow: 1;
  max-width:1800px;
}

.content section {
  margin-bottom: 3rem;
  padding: 0 2rem;
}

@media (max-width: 768px) {
  .sidebar {
    position: sticky;
    width: 100%;
    top: auto;
  }
  
  .container {
    flex-direction: column;
  }
}